<div style="border: 5px 	#32CD32	 solid;">
<p>My Second Component AleS_900</p>
<p>NAME -- LAST NAME</p>

<button (click)="onClickShowData($event)">
    Show Data
</button >

<p>
    My VAR 1: {{myVar1}}
</p>
<!-- 
    Contenedores Banana: 
    Nos permiten al Escribir en la Caja de Texto
    hacer la modificación de la variable 
    automáticamente 
-->
<input type="text" [(ngModel)]="myVar1">

<p>
My VAR 2: {{myVar2}}
</p>
<input type="number" [(ngModel)]="myVar2">
<input type="number" [(ngModel)]="myVar3"><br><br>

<!-- Un elemento HTML ya puede considerarse un componente -->
<input type="date">
<p></p>
<!-- 
    Ouputs Nativos: 
    - Click : Se ejecuta al dar un click en el botón
    - Blur  : Se ejecuta al dar click fuera del botón
    - Double
      Click : Se ejecuta al dar dos clicks en el botón
-->
<button id="myButton" 
(click)="test0($event)"
(blur)="test1($event)"
(dblclick)="test2($event)"
>Do Click Events</button>

<ng-content></ng-content>

</div>