<div style="border: 5px yellow solid;">
  ADMIN 1 COMP
  <p style="border: 5px white solid">{{ 50 | exponent }}</p>
  <p style="border: 5px white solid">{{ 4 | exponent2:3 }}</p>
  <p style="border: 5px white solid">{{ 3 | exponent2}}</p>
  <p style="border: 5px white solid">{{ 11 | exponent2:2 }}</p>
  <app-loader></app-loader>
  <app-card></app-card>
</div>
<br>

<div style="border: 5px blue solid;">
  PIPES IN ANGULAR:
  <p style="border: 5px red solid">{{name}}</p>

  <p style="border: 5px green solid">{{ name | uppercase }}</p>

  <p style="border: 5px orange solid">{{ 'SANTIAGO' | lowercase }}</p>


  <p style="border: 5px yellow solid">{{ ['a','b','c','d','e'] | slice:2:4 }}</p>

  <p *ngFor="let item of ['a','b','c','d','e'] | slice:2:4" style="border: 5px blue solid">
    {{item}}  
  </p>

  <p style="border: 5px pink solid">{{ auxJSON | json }}</p>

  --------------------------------------------------------------
  
  <p *ngFor="let item of auxObs$ | async" style="border: 5px purple solid">
  {{item}}  
  </p>
  
  <button (click)="onAdd()">add</button>

</div>
<app-admin2></app-admin2>

