<p>App Component</p>
<savc-comp [status]="myStatus" (onSendData)="printDataSantiagoComp($event)">
</savc-comp><br>

<app-test2 name="Alejandro( Juan )" lastName="Céspedes (Gutiérrez)"
    (onGeneralDataCORRECTED)="printDataExercise5Corrected($event)" (onGeneralData)="printDataExercise5($event)">
</app-test2><br>

<input type="text" [(ngModel)]="myNameTest">
<button (click)="sw = !sw"> SHOW TEST3</button>
<br><br>

<!--
  // *************************************
  // ***           DIRECTIVES          ***
  // *************************************
-->

<!--
    ngIf= Dada una condición se muestra o no el 
    componente:

    *Diferencia ngIf vs hidden:
    ngIf destruye por completo nuestro componenete 
    y hidden solo lo oculta
-->
<!--div *ngIf = "sw" -->
<div [hidden]="sw">
    <savc-comp3 [name]="myNameTest">
    </savc-comp3>
</div><br>


<div style="border: 5px #FFD200 solid;">
    <br>
    This is not My Fourth Component AleS_900<br>
    This is only a Divisor Framework
    <!-- 
        ngFor: genera una repiticíon de elementos/
        coponentes dada una condición
    -->
    <ul>
        <!--EJEMPLO 1 NGFOR-->
        <li *ngFor="let item of [1,2,3,4,5,6]">{{item}}</li>
        <!-- 
             Donde item es una el nombre de nuestra
             variable.
         -->
        <!--  
                LISTA MANUAL
         <li>first</li>
         <li>second</li>
        <li>third</li>
        -->
        <br>

        <!--EJEMPLO 2 NGFOR-->
        <li *ngFor="let item of ['first','second','third']; let i = index">
            {{item}} {{i}}
        </li><br>

        <!--EJEMPLO 3 NGFOR-->
        <li *ngFor="let item of ['first','second','third']">
            <savc-comp 
                [status]="myStatus" 
                (onSendData)="printDataSantiagoComp($event)" 
                *ngIf="item !== 'first'">
            </savc-comp>
        </li>
    </ul>

    <!-- 
        ngSwitch: genera un componente cuando
        recibe la entrada adecuada
    -->
    <!--EJEMPLO 1 NGSWITCH-->
    <input type="text" [(ngModel)]="color" >
    <ul [ngSwitch]="color">
        COLOR :
        <li *ngSwitchCase="'red'">RED</li>
        <li *ngSwitchCase="'yellow'">YELLOW</li>
        <li *ngSwitchCase="'blue'">BLUE</li>
        <li *ngSwitchCase="'green'">GREEN</li>
        <li *ngSwitchCaseDefault>NO COLOR SELECTED</li>
    </ul>

    <!--EJEMPLO 2 NGSWITCH-->
    <ul [ngSwitch]="color">
        COLOR :
        <li *ngSwitchCase="'red'">
            <savc-comp [status]="myStatus" (onSendData)="printDataSantiagoComp($event)">
            </savc-comp>
        </li>
        <li *ngSwitchCase="'green'">
            <app-test2 name="Alejandro( Juan )" lastName="Céspedes (Gutiérrez)"
                (onGeneralDataCORRECTED)="printDataExercise5Corrected($event)"
                (onGeneralData)="printDataExercise5($event)">
            </app-test2><br>
        </li>
        <li *ngSwitchCase="'blue'">
            <savc-comp3 [name]="myNameTest">
            </savc-comp3>
        </li>
        <li *ngSwitchCaseDefault>
            NO COLOR SELECTED
        </li>
    </ul>
    <!-- 
        NO SE PUEDE COMBINAR DIRECTIVAS EN UN SOLO ELEMENTO, SI SE PUEDE
        ANIDAR PERO NO COMBINAR
    -->

    <!-- 
        TAREA 2 08/11/2021:
        Mostrar una lista de personas dinámicamente 
        con *ngFor mediante un componente ingresando 
        name y lastName
        [
            {name: 'juan', lastName: 'gutierrez'},
            {name: maria, lastName: 'quiroz'},
            {name: marco, lastName: 'paredes'},
            {name: pedro, lastName: mamani}
        ]
    -->
    <ul style="border: 5px #FF0080 solid;">
    TAREA 2 08/11/2021:
    Mostrar una lista de personas dinámicamente 
    con *ngFor mediante un componente ingresando 
    name y lastName:<br><br>
        LISTA DE NOMBRES
        <br><br>
        <li *ngFor="let item of nameList">
            {{item.name}} {{item.lastName}}
        </li>
    </ul>

</div>



<!-- button onclick="">do click </button -->